body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
.hidden-table {
  display: none;
}

h1 {
  color: #8c8d8f;
  text-align: center;
}

.button {
  text-align: center; /* Centra el texto horizontalmente */
}

.toggle-table {
  background-color: #e51f82;
  border-color: #e51f82;
  color: #fff;
  font-size: 15px;
  padding: 12px 35px;
  cursor: pointer;
}
